In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('train_data.csv')
df

,ID,Name,Year Published,Min Players,Max Players,Play Time,Min Age,Users Rated,Rating Average,BGG Rank,Complexity Average,Owned Users,Mechanics,Domains
0,174430.0,Gloomhaven,2017.0,1,4,120,14,42055,"8,79",1,"3,86",68323.0,"Action Queue, Action Retrieval, Campaign / Bat...","Strategy Games, Thematic Games"
1,224517.0,Brass: Birmingham,2018.0,2,4,120,14,19217,"8,66",3,"3,91",28785.0,"Hand Management, Income, Loans, Market, Networ...",Strategy Games
2,167791.0,Terraforming Mars,2016.0,1,5,120,12,64864,"8,43",4,"3,24",87099.0,"Card Drafting, Drafting, End Game Bonuses, Han...",Strategy Games
3,233078.0,Twilight Imperium: Fourth Edition,2017.0,3,6,480,14,13468,"8,70",5,"4,22",16831.0,"Action Drafting, Area Majority / Influence, Ar...","Strategy Games, Thematic Games"
4,291457.0,Gloomhaven: Jaws of the Lion,2020.0,1,4,120,14,8392,"8,87",6,"3,55",21609.0,"Action Queue, Campaign / Battle Card Driven, C...","Strategy Games, Thematic Games"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15252,1410.0,Trouble,1965.0,2,4,45,4,3255,"3,79",20339,"1,05",4962.0,Roll / Spin and Move,Children's Games
15253,16398.0,War,0.0,2,2,30,4,1340,"2,28",20340,1,427.0,NaN,Children's Games
15254,5048.0,Candy Land,1949.0,2,4,30,3,4006,"3,18",20342,"1,08",5788.0,Roll / Spin and Move,Children's Games
15255,5432.0,Chutes and Ladders,-200.0,2,6,30,3,3783,"2,86",20343,"1,02",4400.0,"Dice Rolling, Grid Movement, Race, Roll / Spin...",Children's Games
15256,11901.0,Tic-Tac-Toe,-1300.0,2,2,1,4,3275,"2,68",20344,"1,16",1374.0,"Paper-and-Pencil, Pattern Building","Abstract Games, Children's Games"

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15257 entries, 0 to 15256
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  15247 non-null  float64
 1   Name                15257 non-null  object
 2   Year Published      15256 non-null  float64
 3   Min Players         15257 non-null  int64
 4   Max Players         15257 non-null  int64
 5   Play Time           15257 non-null  int64
 6   Min Age             15257 non-null  int64
 7   Users Rated         15257 non-null  int64
 8   Rating Average      15257 non-null  object
 9   BGG Rank            15257 non-null  int64
 10  Complexity Average  15257 non-null  object
 11  Owned Users         15240 non-null  float64
 12  Mechanics           14057 non-null  object
 13  Domains             7608 non-null   object
dtypes: float64(3), int64(6), object(5)
memory usage: 1.6+ MB

In [4]:
df["Rating Average"] = pd.to_numeric(
    df["Rating Average"].astype(str).str.replace(',', '.'), 
    errors='coerce'
)

df["Complexity Average"] = pd.to_numeric(
    df["Complexity Average"].astype(str).str.replace(',', '.'), 
    errors='coerce'
)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15257 entries, 0 to 15256
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  15247 non-null  float64
 1   Name                15257 non-null  object
 2   Year Published      15256 non-null  float64
 3   Min Players         15257 non-null  int64
 4   Max Players         15257 non-null  int64
 5   Play Time           15257 non-null  int64
 6   Min Age             15257 non-null  int64
 7   Users Rated         15257 non-null  int64
 8   Rating Average      15257 non-null  float64
 9   BGG Rank            15257 non-null  int64
 10  Complexity Average  15257 non-null  float64
 11  Owned Users         15240 non-null  float64
 12  Mechanics           14057 non-null  object
 13  Domains             7608 non-null   object
dtypes: float64(5), int64(6), object(3)
memory usage: 1.6+ MB

In [5]:
df_nan = df.loc[:, df.isnull().any()]
df_nan.isnull().sum() / len(df_nan) * 100

ID                 0.065544
Year Published     0.006554
Owned Users        0.111424
Mechanics          7.865242
Domains           50.134365
dtype: float64

In [6]:
df = df.drop(["Mechanics", "Domains"], axis=1)
df

,ID,Name,Year Published,Min Players,Max Players,Play Time,Min Age,Users Rated,Rating Average,BGG Rank,Complexity Average,Owned Users
0,174430.0,Gloomhaven,2017.0,1,4,120,14,42055,8.79,1,3.86,68323.0
1,224517.0,Brass: Birmingham,2018.0,2,4,120,14,19217,8.66,3,3.91,28785.0
2,167791.0,Terraforming Mars,2016.0,1,5,120,12,64864,8.43,4,3.24,87099.0
3,233078.0,Twilight Imperium: Fourth Edition,2017.0,3,6,480,14,13468,8.70,5,4.22,16831.0
4,291457.0,Gloomhaven: Jaws of the Lion,2020.0,1,4,120,14,8392,8.87,6,3.55,21609.0
...,...,...,...,...,...,...,...,...,...,...,...,...
15252,1410.0,Trouble,1965.0,2,4,45,4,3255,3.79,20339,1.05,4962.0
15253,16398.0,War,0.0,2,2,30,4,1340,2.28,20340,1.00,427.0
15254,5048.0,Candy Land,1949.0,2,4,30,3,4006,3.18,20342,1.08,5788.0
15255,5432.0,Chutes and Ladders,-200.0,2,6,30,3,3783,2.86,20343,1.02,4400.0
15256,11901.0,Tic-Tac-Toe,-1300.0,2,2,1,4,3275,2.68,20344,1.16,1374.0

In [7]:
df = df.dropna(subset=["Year Published"])
df.isnull().sum() / len(df_nan) * 100

ID                    0.058989
Name                  0.000000
Year Published        0.000000
Min Players           0.000000
Max Players           0.000000
Play Time             0.000000
Min Age               0.000000
Users Rated           0.000000
Rating Average        0.000000
BGG Rank              0.000000
Complexity Average    0.000000
Owned Users           0.104870
dtype: float64

In [8]:
df = df.drop(["ID", "Name"], axis=1)
df

,Year Published,Min Players,Max Players,Play Time,Min Age,Users Rated,Rating Average,BGG Rank,Complexity Average,Owned Users
0,2017.0,1,4,120,14,42055,8.79,1,3.86,68323.0
1,2018.0,2,4,120,14,19217,8.66,3,3.91,28785.0
2,2016.0,1,5,120,12,64864,8.43,4,3.24,87099.0
3,2017.0,3,6,480,14,13468,8.70,5,4.22,16831.0
4,2020.0,1,4,120,14,8392,8.87,6,3.55,21609.0
...,...,...,...,...,...,...,...,...,...,...
15252,1965.0,2,4,45,4,3255,3.79,20339,1.05,4962.0
15253,0.0,2,2,30,4,1340,2.28,20340,1.00,427.0
15254,1949.0,2,4,30,3,4006,3.18,20342,1.08,5788.0
15255,-200.0,2,6,30,3,3783,2.86,20343,1.02,4400.0
15256,-1300.0,2,2,1,4,3275,2.68,20344,1.16,1374.0

In [9]:
df["Owned Users"] = df["Owned Users"].fillna(df["Owned Users"].mean())
df.describe()

,Year Published,Min Players,Max Players,Play Time,Min Age,Users Rated,Rating Average,BGG Rank,Complexity Average,Owned Users
count,15256.000000,15256.000000,15256.000000,15256.000000,15256.000000,15256.000000,15256.000000,15256.000000,15256.000000,15256.000000
mean,1984.144140,2.021238,5.643157,92.804798,9.582394,819.582001,6.399782,10186.078723,1.991063,1372.209843
std,211.725679,0.696346,12.552321,607.631142,3.670860,3286.498019,0.936518,5863.856055,0.848844,4678.841247
min,-3500.000000,0.000000,0.000000,0.000000,0.000000,30.000000,1.050000,1.000000,0.000000,0.000000
25%,2001.000000,2.000000,4.000000,30.000000,8.000000,55.000000,5.820000,5102.750000,1.330000,146.000000
50%,2011.000000,2.000000,4.000000,45.000000,10.000000,119.000000,6.430000,10170.500000,2.000000,309.000000
75%,2016.000000,2.000000,6.000000,90.000000,12.000000,379.000000,7.020000,15280.250000,2.540000,860.250000
max,2022.000000,10.000000,999.000000,60000.000000,25.000000,102214.000000,9.580000,20344.000000,5.000000,155312.000000

In [10]:
from sklearn.preprocessing import MinMaxScaler

X = df.drop(columns=["Rating Average"])
y = df["Rating Average"]

mmsc = MinMaxScaler()
X_norm = mmsc.fit_transform(X)
X_norm = pd.DataFrame(X_norm, columns=X.columns)
X_norm

,Year Published,Min Players,Max Players,Play Time,Min Age,Users Rated,BGG Rank,Complexity Average,Owned Users
0,0.999095,0.1,0.004004,0.002000,0.56,0.411268,0.000000,0.772,0.439908
1,0.999276,0.2,0.004004,0.002000,0.56,0.187769,0.000098,0.782,0.185337
2,0.998913,0.1,0.005005,0.002000,0.48,0.634483,0.000147,0.648,0.560800
3,0.999095,0.3,0.006006,0.008000,0.56,0.131508,0.000197,0.844,0.108369
4,0.999638,0.1,0.004004,0.002000,0.56,0.081833,0.000246,0.710,0.139133
...,...,...,...,...,...,...,...,...,...
15251,0.989678,0.2,0.004004,0.000750,0.16,0.031561,0.999754,0.210,0.031949
15252,0.633828,0.2,0.002002,0.000500,0.16,0.012820,0.999803,0.200,0.002749
15253,0.986780,0.2,0.004004,0.000500,0.12,0.038910,0.999902,0.216,0.037267
15254,0.597610,0.2,0.006006,0.000500,0.12,0.036728,0.999951,0.204,0.028330
15255,0.398406,0.2,0.002002,0.000017,0.16,0.031756,1.000000,0.232,0.008847

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_norm, y, test_size=0.3)

In [12]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

In [13]:
from sklearn import metrics

print("MAE", metrics.mean_absolute_error(y_test, y_pred))
print("MSE", metrics.mean_squared_error(y_test, y_pred))
print("R2 Score:", model.score(X_test, y_test))

MAE 0.4393403600670558
MSE 0.3644013737699439
R2 Score: 0.5925654364567499

In [14]:
df_test = pd.read_csv("test_data.csv")
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5086 entries, 0 to 5085
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5080 non-null   float64
 1   Name                5086 non-null   object
 2   Year Published      5086 non-null   float64
 3   Min Players         5086 non-null   int64
 4   Max Players         5086 non-null   int64
 5   Play Time           5086 non-null   int64
 6   Min Age             5086 non-null   int64
 7   Users Rated         5086 non-null   int64
 8   BGG Rank            5086 non-null   int64
 9   Complexity Average  5086 non-null   object
 10  Owned Users         5080 non-null   float64
 11  Mechanics           4688 non-null   object
 12  Domains             2576 non-null   object
dtypes: float64(3), int64(6), object(4)
memory usage: 516.7+ KB

In [15]:
df_test["Complexity Average"] = pd.to_numeric(
    df_test["Complexity Average"].astype(str).str.replace(',', '.'), 
    errors='coerce'
)
df_test = df_test.drop(["ID", "Name", "Mechanics", "Domains"], axis=1)
df_test["Owned Users"] = df_test["Owned Users"].fillna(df_test["Owned Users"].mean())
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5086 entries, 0 to 5085
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year Published      5086 non-null   float64
 1   Min Players         5086 non-null   int64
 2   Max Players         5086 non-null   int64
 3   Play Time           5086 non-null   int64
 4   Min Age             5086 non-null   int64
 5   Users Rated         5086 non-null   int64
 6   BGG Rank            5086 non-null   int64
 7   Complexity Average  5086 non-null   float64
 8   Owned Users         5086 non-null   float64
dtypes: float64(3), int64(6)
memory usage: 357.7 KB

In [16]:
X_test_norm = mmsc.transform(df_test)
X_test_norm = pd.DataFrame(X_test_norm, columns=df_test.columns)
X_test_norm

,Year Published,Min Players,Max Players,Play Time,Min Age,Users Rated,BGG Rank,Complexity Average,Owned Users
0,0.998732,0.2,0.004004,0.001000,0.52,0.407236,0.000049,0.568,0.420405
1,0.996921,0.2,0.002002,0.003000,0.52,0.399123,0.000442,0.718,0.361975
2,0.998189,0.2,0.004004,0.003000,0.52,0.134023,0.000541,0.828,0.143460
3,0.998913,0.1,0.005005,0.001917,0.56,0.566048,0.000639,0.682,0.487020
4,0.997284,0.2,0.004004,0.002000,0.56,0.189560,0.000885,0.772,0.163728
...,...,...,...,...,...,...,...,...,...
5081,0.988772,0.2,0.004004,0.000167,0.12,0.009835,0.999066,0.206,0.010888
5082,0.995473,0.2,0.008008,0.000750,0.48,0.010373,0.999213,0.216,0.012794
5083,0.992032,0.2,0.004004,0.000167,0.16,0.022812,0.999312,0.210,0.016534
5084,0.989315,0.2,0.004004,0.000500,0.24,0.026061,0.999459,0.222,0.021943
5085,0.910902,0.2,0.099099,0.001000,0.20,0.020786,0.999853,0.210,0.009870

In [17]:
y_pred_test = model.predict(X_test_norm)

pd.DataFrame({'Rating Average': y_pred_test}).to_csv('sub.csv', index_label='index')