In [36]:
import numpy as np
import pandas as pd

In [37]:
df = pd.read_csv('train_data.csv')
df

,ID,Name,Year Published,Min Players,Max Players,Play Time,Min Age,Users Rated,Rating Average,BGG Rank,Complexity Average,Owned Users,Mechanics,Domains
0,174430.0,Gloomhaven,2017.0,1,4,120,14,42055,"8,79",1,"3,86",68323.0,"Action Queue, Action Retrieval, Campaign / Bat...","Strategy Games, Thematic Games"
1,224517.0,Brass: Birmingham,2018.0,2,4,120,14,19217,"8,66",3,"3,91",28785.0,"Hand Management, Income, Loans, Market, Networ...",Strategy Games
2,167791.0,Terraforming Mars,2016.0,1,5,120,12,64864,"8,43",4,"3,24",87099.0,"Card Drafting, Drafting, End Game Bonuses, Han...",Strategy Games
3,233078.0,Twilight Imperium: Fourth Edition,2017.0,3,6,480,14,13468,"8,70",5,"4,22",16831.0,"Action Drafting, Area Majority / Influence, Ar...","Strategy Games, Thematic Games"
4,291457.0,Gloomhaven: Jaws of the Lion,2020.0,1,4,120,14,8392,"8,87",6,"3,55",21609.0,"Action Queue, Campaign / Battle Card Driven, C...","Strategy Games, Thematic Games"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15252,1410.0,Trouble,1965.0,2,4,45,4,3255,"3,79",20339,"1,05",4962.0,Roll / Spin and Move,Children's Games
15253,16398.0,War,0.0,2,2,30,4,1340,"2,28",20340,1,427.0,NaN,Children's Games
15254,5048.0,Candy Land,1949.0,2,4,30,3,4006,"3,18",20342,"1,08",5788.0,Roll / Spin and Move,Children's Games
15255,5432.0,Chutes and Ladders,-200.0,2,6,30,3,3783,"2,86",20343,"1,02",4400.0,"Dice Rolling, Grid Movement, Race, Roll / Spin...",Children's Games
15256,11901.0,Tic-Tac-Toe,-1300.0,2,2,1,4,3275,"2,68",20344,"1,16",1374.0,"Paper-and-Pencil, Pattern Building","Abstract Games, Children's Games"

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15257 entries, 0 to 15256
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  15247 non-null  float64
 1   Name                15257 non-null  object
 2   Year Published      15256 non-null  float64
 3   Min Players         15257 non-null  int64
 4   Max Players         15257 non-null  int64
 5   Play Time           15257 non-null  int64
 6   Min Age             15257 non-null  int64
 7   Users Rated         15257 non-null  int64
 8   Rating Average      15257 non-null  object
 9   BGG Rank            15257 non-null  int64
 10  Complexity Average  15257 non-null  object
 11  Owned Users         15240 non-null  float64
 12  Mechanics           14057 non-null  object
 13  Domains             7608 non-null   object
dtypes: float64(3), int64(6), object(5)
memory usage: 1.6+ MB

In [39]:
df_nan = df.loc[:, df.isnull().any()]
df_nan

,ID,Year Published,Owned Users,Mechanics,Domains
0,174430.0,2017.0,68323.0,"Action Queue, Action Retrieval, Campaign / Bat...","Strategy Games, Thematic Games"
1,224517.0,2018.0,28785.0,"Hand Management, Income, Loans, Market, Networ...",Strategy Games
2,167791.0,2016.0,87099.0,"Card Drafting, Drafting, End Game Bonuses, Han...",Strategy Games
3,233078.0,2017.0,16831.0,"Action Drafting, Area Majority / Influence, Ar...","Strategy Games, Thematic Games"
4,291457.0,2020.0,21609.0,"Action Queue, Campaign / Battle Card Driven, C...","Strategy Games, Thematic Games"
...,...,...,...,...,...
15252,1410.0,1965.0,4962.0,Roll / Spin and Move,Children's Games
15253,16398.0,0.0,427.0,NaN,Children's Games
15254,5048.0,1949.0,5788.0,Roll / Spin and Move,Children's Games
15255,5432.0,-200.0,4400.0,"Dice Rolling, Grid Movement, Race, Roll / Spin...",Children's Games
15256,11901.0,-1300.0,1374.0,"Paper-and-Pencil, Pattern Building","Abstract Games, Children's Games"

In [40]:
df_nan.isnull().sum() / len(df_nan) * 100

ID                 0.065544
Year Published     0.006554
Owned Users        0.111424
Mechanics          7.865242
Domains           50.134365
dtype: float64

In [41]:
df = df.drop(['Domains', 'Mechanics', 'ID', 'Name'], axis=1)

In [42]:
df['Owned Users'].fillna(df['Owned Users'].mean(), inplace=True)

/tmp/ipykernel_14149/92109042.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Owned Users'].fillna(df['Owned Users'].mean(), inplace=True)

In [43]:

df = df.dropna(axis=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15256 entries, 0 to 15256
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year Published      15256 non-null  float64
 1   Min Players         15256 non-null  int64
 2   Max Players         15256 non-null  int64
 3   Play Time           15256 non-null  int64
 4   Min Age             15256 non-null  int64
 5   Users Rated         15256 non-null  int64
 6   Rating Average      15256 non-null  object
 7   BGG Rank            15256 non-null  int64
 8   Complexity Average  15256 non-null  object
 9   Owned Users         15256 non-null  float64
dtypes: float64(2), int64(6), object(2)
memory usage: 1.3+ MB

In [44]:
df['Complexity Average'] = df['Complexity Average'].replace(',', '.', regex=True).astype(float)
df['Rating Average'] = df['Rating Average'].replace(',', '.', regex=True).astype(float)
df.describe()

,Year Published,Min Players,Max Players,Play Time,Min Age,Users Rated,Rating Average,BGG Rank,Complexity Average,Owned Users
count,15256.000000,15256.000000,15256.000000,15256.000000,15256.000000,15256.000000,15256.000000,15256.000000,15256.000000,15256.000000
mean,1984.144140,2.021238,5.643157,92.804798,9.582394,819.582001,6.399782,10186.078723,1.991063,1372.209843
std,211.725679,0.696346,12.552321,607.631142,3.670860,3286.498019,0.936518,5863.856055,0.848844,4678.841247
min,-3500.000000,0.000000,0.000000,0.000000,0.000000,30.000000,1.050000,1.000000,0.000000,0.000000
25%,2001.000000,2.000000,4.000000,30.000000,8.000000,55.000000,5.820000,5102.750000,1.330000,146.000000
50%,2011.000000,2.000000,4.000000,45.000000,10.000000,119.000000,6.430000,10170.500000,2.000000,309.000000
75%,2016.000000,2.000000,6.000000,90.000000,12.000000,379.000000,7.020000,15280.250000,2.540000,860.250000
max,2022.000000,10.000000,999.000000,60000.000000,25.000000,102214.000000,9.580000,20344.000000,5.000000,155312.000000

In [45]:
df.loc[df['Min Players'] == 0, 'Min Players'] = 1
df.loc[df['Max Players'] == 0, 'Max Players'] = df['Min Players']

df[df['Min Players'] == 0]

# df.loc[df['Play Time'] == 0, 'Play Time'] = 1
df.describe()

,Year Published,Min Players,Max Players,Play Time,Min Age,Users Rated,Rating Average,BGG Rank,Complexity Average,Owned Users
count,15256.000000,15256.000000,15256.000000,15256.000000,15256.000000,15256.000000,15256.000000,15256.000000,15256.000000,15256.000000
mean,1984.144140,2.023401,5.658036,92.804798,9.582394,819.582001,6.399782,10186.078723,1.991063,1372.209843
std,211.725679,0.691601,12.547123,607.631142,3.670860,3286.498019,0.936518,5863.856055,0.848844,4678.841247
min,-3500.000000,1.000000,1.000000,0.000000,0.000000,30.000000,1.050000,1.000000,0.000000,0.000000
25%,2001.000000,2.000000,4.000000,30.000000,8.000000,55.000000,5.820000,5102.750000,1.330000,146.000000
50%,2011.000000,2.000000,4.000000,45.000000,10.000000,119.000000,6.430000,10170.500000,2.000000,309.000000
75%,2016.000000,2.000000,6.000000,90.000000,12.000000,379.000000,7.020000,15280.250000,2.540000,860.250000
max,2022.000000,10.000000,999.000000,60000.000000,25.000000,102214.000000,9.580000,20344.000000,5.000000,155312.000000

In [46]:
X = df.drop(['Rating Average'], axis=1)
Y = df['Rating Average']

In [47]:

from sklearn.preprocessing import MinMaxScaler, StandardScaler

std = StandardScaler()

X_std = std.fit_transform(X) # np array

X_std = pd.DataFrame(X_std, columns=X.columns)
X_std

,Year Published,Min Players,Max Players,Play Time,Min Age,Users Rated,BGG Rank,Complexity Average,Owned Users
0,0.155186,-1.479805,-0.132149,0.044758,1.203465,12.547328,-1.736982,2.201815,14.309736
1,0.159910,-0.033837,-0.132149,0.044758,1.203465,5.598062,-1.736641,2.260721,5.859076
2,0.150463,-1.479805,-0.052447,0.044758,0.658615,19.487770,-1.736470,1.471386,18.322827
3,0.155186,1.412132,0.027255,0.637242,1.203465,3.848727,-1.736300,2.625935,3.304087
4,0.169356,-1.479805,-0.132149,0.044758,1.203465,2.304175,-1.736129,1.836601,4.325313
...,...,...,...,...,...,...,...,...,...
15251,-0.090423,-0.033837,-0.132149,-0.078677,-1.520782,0.741062,1.731498,-1.108677,0.767264
15252,-9.371604,-0.033837,-0.291553,-0.103363,-1.520782,0.158356,1.731668,-1.167583,-0.202025
15253,-0.165994,-0.033837,-0.132149,-0.103363,-1.793206,0.969580,1.732009,-1.073334,0.943810
15254,-10.316253,-0.033837,0.027255,-0.103363,-1.793206,0.901724,1.732180,-1.144020,0.647145
15255,-15.511825,-0.033837,-0.291553,-0.151091,-1.520782,0.747147,1.732351,-0.979085,0.000383

In [48]:
X_std.describe()

,Year Published,Min Players,Max Players,Play Time,Min Age,Users Rated,BGG Rank,Complexity Average,Owned Users
count,1.525600e+04,1.525600e+04,1.525600e+04,1.525600e+04,1.525600e+04,1.525600e+04,1.525600e+04,1.525600e+04,1.525600e+04
mean,-1.862986e-16,-4.471166e-17,-2.794479e-17,7.451943e-18,2.384622e-16,-2.980777e-17,5.961554e-17,1.490389e-16,1.490389e-17
std,1.000033e+00,1.000033e+00,1.000033e+00,1.000033e+00,1.000033e+00,1.000033e+00,1.000033e+00,1.000033e+00,1.000033e+00
min,-2.590297e+01,-1.479805e+00,-3.712555e-01,-1.527371e-01,-2.610480e+00,-2.402581e-01,-1.736982e+00,-2.345694e+00,-2.932895e-01
25%,7.961440e-02,-3.383656e-02,-1.321491e-01,-1.033635e-01,-4.310830e-01,-2.326510e-01,-8.669202e-01,-7.788059e-01,-2.620841e-01
50%,1.268469e-01,-3.383656e-02,-1.321491e-01,-7.867662e-02,1.137662e-01,-2.131767e-01,-2.656824e-03,1.052856e-02,-2.272453e-01
75%,1.504631e-01,-3.383656e-02,2.725526e-02,-4.616106e-03,6.586154e-01,-1.340626e-01,8.687693e-01,6.467085e-01,-1.094238e-01
max,1.788026e-01,1.153391e+01,7.917150e+01,9.859462e+01,4.200136e+00,3.085282e+01,1.732351e+00,3.544862e+00,3.290234e+01

In [49]:
mmsc = MinMaxScaler()
X_norm = mmsc.fit_transform(X)

X_norm = pd.DataFrame(X_norm, columns=X.columns)

X_norm.describe()

,Year Published,Min Players,Max Players,Play Time,Min Age,Users Rated,BGG Rank,Complexity Average,Owned Users
count,15256.000000,15256.000000,15256.000000,15256.000000,15256.000000,15256.000000,15256.000000,15256.000000,15256.000000
mean,0.993145,0.113711,0.004667,0.001547,0.383296,0.007727,0.500667,0.398213,0.008835
std,0.038342,0.076845,0.012572,0.010127,0.146834,0.032163,0.288249,0.169769,0.030125
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.996197,0.111111,0.003006,0.000500,0.320000,0.000245,0.250787,0.266000,0.000940
50%,0.998008,0.111111,0.003006,0.000750,0.400000,0.000871,0.499902,0.400000,0.001990
75%,0.998913,0.111111,0.005010,0.001500,0.480000,0.003415,0.751081,0.508000,0.005539
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [50]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_norm, Y, test_size=0.15, random_state=42)

print(f'Train dataset size: {X_train.shape}, {y_train.shape}')
print(f'Train dataset size: {X_test.shape}, {y_test.shape}')

Train dataset size: (12967, 9), (12967,)
Train dataset size: (2289, 9), (2289,)

In [51]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

model.fit(X_train, y_train)

LinearRegression()

In [52]:
y_pred = model.predict(X_test)
print(y_pred)

[5.42580409 7.64153688 6.93576377 ... 5.04923052 5.44657674 5.15625515]

In [53]:
from sklearn import metrics

print("MAE", metrics.mean_absolute_error(y_test, y_pred))
print("MSE", metrics.mean_squared_error(y_test, y_pred))
print("R2 Score:", model.score(X_test, y_test))

MAE 0.4374642703760476
MSE 0.3734237583142751
R2 Score: 0.5918190814289317

In [54]:
features = X.columns

coeff_df = pd.DataFrame(model.coef_, columns=['Coefficient'])
coeff_df['features'] = features

coeff_df.sort_values(by='Coefficient')

   Coefficient            features
8    -7.432306         Owned Users
6    -2.201607            BGG Rank
1    -0.740764         Min Players
4    -0.015204             Min Age
0     0.321250      Year Published
2     0.359550         Max Players
7     1.122255  Complexity Average
3     1.587468           Play Time
5     5.045392         Users Rated

In [55]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_norm, Y, test_size=0.15, random_state=42)

model = LinearRegression()

model.fit(X_train, y_train)
y_pred = model.predict(X_test)

print("MAE", metrics.mean_absolute_error(y_test, y_pred))
print("MSE", metrics.mean_squared_error(y_test, y_pred))
print("Score:", model.score(X_test, y_test))

MAE 0.4374642703760476
MSE 0.3734237583142751
Score: 0.5918190814289317

In [56]:
from sklearn.model_selection import KFold, cross_val_score

# Define the number of folds for cross-validation
k = 5
kf = KFold(n_splits=k, shuffle=True, random_state=42)

In [57]:
lin_reg = LinearRegression()

scores = cross_val_score(lin_reg, X, Y, cv=kf, scoring='r2')
scores

array([0.59328805, 0.58027455, 0.59414716, 0.61695348, 0.57606021])

In [58]:
mean_score = np.mean(scores)
mean_score

np.float64(0.5921446917502516)

In [59]:
df_ts = pd.read_csv('test_data.csv')
df_ts

,ID,Name,Year Published,Min Players,Max Players,Play Time,Min Age,Users Rated,BGG Rank,Complexity Average,Owned Users,Mechanics,Domains
0,161936.0,Pandemic Legacy: Season 1,2015.0,2,4,60,13,41643,2,"2,84",65294.0,"Action Points, Cooperative Game, Hand Manageme...","Strategy Games, Thematic Games"
1,12333.0,Twilight Struggle,2005.0,2,2,180,13,40814,10,"3,59",56219.0,"Action/Event, Advantage Token, Area Majority /...","Strategy Games, Wargames"
2,115746.0,War of the Ring: Second Edition,2012.0,2,4,180,13,13725,12,"4,14",22281.0,"Area Majority / Influence, Area Movement, Camp...","Thematic Games, Wargames"
3,169786.0,Scythe,2016.0,1,5,115,14,57871,14,"3,41",75640.0,"Area Majority / Influence, Card Play Conflict ...",Strategy Games
4,28720.0,Brass: Lancashire,2007.0,2,4,120,14,19400,19,"3,86",25429.0,"Hand Management, Income, Loans, Network and Ro...",Strategy Games
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5081,6932.0,Hi Ho! Cherry-O,1960.0,2,4,10,3,1035,20325,"1,03",1691.0,"Cooperative Game, Roll / Spin and Move",Children's Games
5082,3510.0,Battle of the Sexes,1997.0,2,8,45,12,1090,20328,"1,08",1987.0,Team-Based Game,Party Games
5083,5895.0,Hungry Hungry Hippos,1978.0,2,4,10,4,2361,20330,"1,05",2568.0,NaN,Children's Games
5084,2679.0,Mouse Trap,1963.0,2,4,30,6,2693,20333,"1,11",3408.0,Roll / Spin and Move,Children's Games
5085,7316.0,Bingo,1530.0,2,99,60,5,2154,20341,"1,05",1533.0,"Betting and Bluffing, Bingo, Pattern Recognition",Party Games

In [60]:
df_ts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5086 entries, 0 to 5085
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5080 non-null   float64
 1   Name                5086 non-null   object
 2   Year Published      5086 non-null   float64
 3   Min Players         5086 non-null   int64
 4   Max Players         5086 non-null   int64
 5   Play Time           5086 non-null   int64
 6   Min Age             5086 non-null   int64
 7   Users Rated         5086 non-null   int64
 8   BGG Rank            5086 non-null   int64
 9   Complexity Average  5086 non-null   object
 10  Owned Users         5080 non-null   float64
 11  Mechanics           4688 non-null   object
 12  Domains             2576 non-null   object
dtypes: float64(3), int64(6), object(4)
memory usage: 516.7+ KB

In [61]:
df_ts = df_ts.drop(['Domains', 'Mechanics', 'ID', 'Name'], axis=1)
df_ts['Owned Users'].fillna(df_ts['Owned Users'].mean(), inplace=True)

/tmp/ipykernel_14149/4225324966.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_ts['Owned Users'].fillna(df_ts['Owned Users'].mean(), inplace=True)

In [62]:
df_ts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5086 entries, 0 to 5085
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year Published      5086 non-null   float64
 1   Min Players         5086 non-null   int64
 2   Max Players         5086 non-null   int64
 3   Play Time           5086 non-null   int64
 4   Min Age             5086 non-null   int64
 5   Users Rated         5086 non-null   int64
 6   BGG Rank            5086 non-null   int64
 7   Complexity Average  5086 non-null   object
 8   Owned Users         5086 non-null   float64
dtypes: float64(2), int64(6), object(1)
memory usage: 357.7+ KB

In [63]:
df_ts.describe()

,Year Published,Min Players,Max Players,Play Time,Min Age,Users Rated,BGG Rank,Owned Users
count,5086.000000,5086.000000,5086.000000,5086.000000,5086.000000,5086.000000,5086.000000,5086.000000
mean,1984.567047,2.015140,5.760126,86.774479,9.660637,905.289029,10132.581007,1517.200984
std,220.714812,0.672224,21.339524,287.215962,3.565713,4113.427066,5900.401636,5984.839323
min,-3000.000000,0.000000,0.000000,0.000000,0.000000,30.000000,2.000000,10.000000
25%,2001.000000,2.000000,4.000000,30.000000,8.000000,56.000000,5052.250000,148.000000
50%,2011.000000,2.000000,4.000000,45.000000,10.000000,122.000000,10194.000000,314.000000
75%,2016.000000,2.000000,6.000000,90.000000,12.000000,403.750000,15216.750000,883.000000
max,2021.000000,8.000000,999.000000,14400.000000,21.000000,101853.000000,20341.000000,154531.000000

In [64]:
df_ts['Complexity Average'] = df_ts['Complexity Average'].replace(',', '.', regex=True).astype(float)
# df_ts = df_ts[df_ts['Max Players'] >= df_ts['Min Players']]
# df_ts = df_ts[df_ts['Min Players'] > 0]
# df_ts = df_ts[df_ts['Play Time'] > 0]
# df_ts = df_ts[df_ts['Year Published'] > 1900]
df_ts.loc[df_ts['Min Players'] == 0, 'Min Players'] = 1
df_ts.loc[df_ts['Max Players'] == 0, 'Max Players'] = df_ts['Min Players']

df_ts[df_ts['Min Players'] == 0]

# df_ts.loc[df_ts['Play Time'] == 0, 'Play Time'] = 1

df_ts.describe()

,Year Published,Min Players,Max Players,Play Time,Min Age,Users Rated,BGG Rank,Complexity Average,Owned Users
count,5086.000000,5086.000000,5086.000000,5086.000000,5086.000000,5086.000000,5086.000000,5086.000000,5086.000000
mean,1984.567047,2.017696,5.779394,86.774479,9.660637,905.289029,10132.581007,1.991559,1517.200984
std,220.714812,0.666432,21.335474,287.215962,3.565713,4113.427066,5900.401636,0.849247,5984.839323
min,-3000.000000,1.000000,1.000000,0.000000,0.000000,30.000000,2.000000,0.000000,10.000000
25%,2001.000000,2.000000,4.000000,30.000000,8.000000,56.000000,5052.250000,1.330000,148.000000
50%,2011.000000,2.000000,4.000000,45.000000,10.000000,122.000000,10194.000000,1.920000,314.000000
75%,2016.000000,2.000000,6.000000,90.000000,12.000000,403.750000,15216.750000,2.560000,883.000000
max,2021.000000,8.000000,999.000000,14400.000000,21.000000,101853.000000,20341.000000,4.910000,154531.000000

In [65]:
X_test = df_ts

In [66]:

X_test_std = std.fit_transform(X_test) # np array

X_test_std = pd.DataFrame(X_test_std, columns=X.columns)

X_test_std

,Year Published,Min Players,Max Players,Play Time,Min Age,Users Rated,BGG Rank,Complexity Average,Owned Users
0,0.137897,-0.026555,-0.083409,-0.093230,0.936612,9.904568,-1.717100,0.999149,10.657441
1,0.092585,-0.026555,-0.177159,0.324615,0.936612,9.703013,-1.715744,1.882371,9.140960
2,0.124304,-0.026555,-0.083409,0.324615,0.936612,3.116859,-1.715405,2.530067,3.469741
3,0.142428,-1.527232,-0.036534,0.098282,1.217089,13.850084,-1.715066,1.670398,12.386312
4,0.101648,-0.026555,-0.083409,0.115693,1.217089,4.496623,-1.714218,2.200331,3.995788
...,...,...,...,...,...,...,...,...,...
5081,-0.111318,-0.026555,-0.083409,-0.267332,-1.868151,0.031537,1.727581,-1.132360,0.029043
5082,0.056336,-0.026555,0.104091,-0.145461,0.656136,0.044909,1.728089,-1.073479,0.078506
5083,-0.029756,-0.026555,-0.083409,-0.267332,-1.587675,0.353927,1.728428,-1.108808,0.175594
5084,-0.097724,-0.026555,-0.083409,-0.197691,-1.026722,0.434647,1.728937,-1.038150,0.315963
5085,-2.059725,-0.026555,4.369707,-0.093230,-1.307199,0.303599,1.730293,-1.108808,0.002640

In [67]:
X_test_norm = mmsc.fit_transform(X_test)

X_test_norm = pd.DataFrame(X_test_norm, columns=X.columns)

X_test_norm.describe()

,Year Published,Min Players,Max Players,Play Time,Min Age,Users Rated,BGG Rank,Complexity Average,Owned Users
count,5086.000000,5086.000000,5086.000000,5086.000000,5086.000000,5086.000000,5086.000000,5086.000000,5086.000000
mean,0.992744,0.145385,0.004789,0.006026,0.460030,0.008596,0.498086,0.405613,0.009754
std,0.043958,0.095205,0.021378,0.019946,0.169796,0.040398,0.290103,0.172963,0.038732
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.996017,0.142857,0.003006,0.002083,0.380952,0.000255,0.248304,0.270876,0.000893
50%,0.998008,0.142857,0.003006,0.003125,0.476190,0.000904,0.501106,0.391039,0.001967
75%,0.999004,0.142857,0.005010,0.006250,0.571429,0.003671,0.748058,0.521385,0.005650
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [68]:
model.fit(X_norm, Y)

y_pred = model.predict(X_test_norm)
print(y_pred)

[6.63050433 7.20846635 7.63644715 ... 5.09007041 5.07732319 5.13480787]

In [69]:
np.savetxt(
    'ratings.csv',          # Имя файла
    np.column_stack((np.arange(len(y_pred)), y_pred)),  # Данные: индексы и значения
    delimiter=',',          # Разделитель - запятая
    header='index,Rating Average',  # Заголовок
    comments='',           # Убрать символ '#' перед заголовком
    fmt=['%d', '%f']    # Форматы: целые числа для индекса, float с 2 знаками для оценок
)

In [70]:
res = pd.read_csv('ratings.csv')

res.describe()

             index  Rating Average
count  5086.000000     5086.000000
mean   2542.500000        6.392898
std    1468.346065        0.738227
min       0.000000        4.798641
25%    1271.250000        5.761816
50%    2542.500000        6.430894
75%    3813.750000        7.003398
max    5085.000000        9.041693